.botao-qsf {
  background-color: var(--roxo);
  filter: drop-shadow(0 0 4px var(--preto));
  margin-left: 5vw;
  min-width: 600px;
  padding: 1em;
  user-select: none;
  width: 45vw;
}

.botao-qsf p {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.botao-qsf:hover {
  background-color: var(--branco);
  color: var(--roxo);
  cursor: pointer;
  transition: all ease-in-out .5s;
}

@media screen and (max-width:768px) {
  .botao-qsf {
    margin: 0 auto;
    min-width: 0;
    width: 80vw;
  }
  .botao-qsf p {
    font-size: 1.5rem;
  }
}