footer {
  background-color: var(--branco);
  display: flex;
  justify-content: flex-end;
  padding: .5em 1.5em;
}

footer p {
  color: var(--preto);
}

@media screen and (max-width:768px) {
  footer {
    justify-content: center;
  }
}